article, section, main, nav {
    float: left;
}
header {
    line-height: 98px;
}
nav {
    width: 198px;
    line-height: 598px;
}
main{
    width: 760px;
}
footer {
    float: right;
    width: 758px;
    line-height: 148px;
}
article {
    width: 378px;
    line-height: 198px;
}
section {
    width: 188px;
    line-height: 248px;
}
@media (max-width: 960px){
    nav{
        width: 21%;
    }
    main{
        width: 78.6%
    }
    article {
        width: 49.67%;
    }
    section {
        width: 24.67%;
    }
    footer {
        width: 78.47%;
    }
}
@media (max-width: 768px){
    section {
        width: 238px;
        float: left;
        line-height: 248px;
    }
    
    header {
        line-height: 73px;
    }
    
    nav {
        width: 478px;
        line-height: 148px;
    }
    article {
        width: 478px;
        line-height: 123px;
    }
    
    footer {
        width: 478px;
        height: 78px;
        line-height: 78px;
    }
    
    main {
        width: 480px;
    }
}
